@nutanix-ui:registry=https://artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/
registry=https://artifactory.dyn.ntnxdpro.com/artifactory/api/npm/canaveral-npm/
always-auth=false
strict-ssl=false
legacy-peer-deps=true
