# Copy this file to .env and fill in your values
# cp env.example .env

# Server Configuration
PORT=PORT
NODE_ENV=NODE_ENV

# MongoDB
MONGODB_URI=MONGODB_URI

# LLM Configuration
LLM_API_URL=LLM_API_URL
LLM_API_KEY=LLM_API_KEY
LLM_API_MODEL=LLM_API_MODEL
LLM_MAX_TOKENS=LLM_MAX_TOKENS
LLM_TEMPERATURE=LLM_TEMPERATURE
