/* Match schooner/ubertower HeaderContainer styling */

.headerNtnxLogo {
  color: var(--color-text-tertiary-interactive);
}

.nutanixLogoContainer {
  color: var(--color-text-nav-secondary-interactive) !important;
  cursor: pointer;
}

.nutanixLogoContainer:hover {
  color: var(--color-text-nav-primary-interactive) !important;
}

.nutanixLogoContainer:hover .headerNtnxLogo {
  color: inherit;
}

.nutanixLogo {
  white-space: nowrap;
}

.nutanixLogo :global(.ntnx-title) {
  display: inline-block;
  color: white;
  vertical-align: middle;
  font-weight: 700;
  margin-left: 10px;
  margin-top: -10px !important;
}

.userName {
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.headerVerticalSeparator {
  height: 10px;
  margin-left: 20px !important;
  background-color: #2a2a2a !important;
}

@media (min-width: 320px) and (max-width: 767px) {
  .nutanixLogo :global(.ntnx-title) {
    display: none;
  }

  .headerVerticalSeparator {
    display: none;
  }
}
